*.retry
*.swp
*.pem
*.csr
roles/initial/files/cni-plugins-amd64.tgz
roles/initial/files/containerd.tgz
roles/initial/files/crictl.tgz
roles/initial/files/tools/*
roles/initial/files/certs/*.json
roles/initial/files/cfssljson
roles/initial/files/configs/*.kubeconfig
roles/initial/files/configs/encryption-config.yaml
roles/etcd/files/etcd
roles/etcd/files/etcdctl
roles/etcd/files/etcd.tgz
